ErrorDocument 401 /404.html
<IfModule mod_rewrite.c>
#  Options +FollowSymlinks -Multiviews
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/uploads/
  RewriteCond %{REQUEST_URI} !^/static/
  RewriteCond %{REQUEST_URI} !^/min/
  RewriteCond %{REQUEST_URI} !^/data/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]

</IfModule>
<IfModule FilesMatch.c>
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>
</IfModule>